body {
    font-family: sans-serif;
    background-color: #111d4a;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#productList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.product {
    list-style-type: none;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'Tittle ImageName'
        'Price ImageName'
        'Manufacturer ImageName';
    text-align: left;
}

.product > h5 {
    font-size: 12px;
    grid-area: Title;
    margin-bottom: 5px;
}

.product > h6 {
    grid-area: Manufacturer;
}

.product > p {
    font-size: 10px;
    font-weight: bolder;
    grid-area: Price;
    margin: 0;
}

.product > img {
    height: 100px;
    margin-left: 15px;
    grid-area: ImageName;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}
